.row-footer {
  @include row();
  background-color:
  $dark-blue;
}
.container-footer {
  @include outer-container;
  padding: 40px;
  color: $white;
  font-size: $small-text;
  p {
    margin-bottom: 0 !important;
  }
}
.col-footer, .col-footer-lg {
  @include media($mobile) {
    @include span-columns (12 of 12);
    @include shift(0);
  }
}
.col-footer {
  @include media($tablet) {
    @include span-columns (2 of 12);
  }
}
.col-footer-lg {
  @include media($tablet) {
    @include span-columns (4 of 12); @include shift(0);
  }
}
.col-footer {
  @include media($desktop) {
    @include span-columns (2 of 12);
  }
}
.col-footer-lg {
  @include media($desktop) {
    @include span-columns (3 of 12); @include shift(1);
  }
}
