.row-header {@include row(); background: $blue-gradient; margin-bottom: 70px;}
.container-header {@include outer-container; padding: 20px 40px}
header img, .blog-title-name {vertical-align: middle;}
.blog-title-name {margin: 0 0 0 10px; padding-left:15px; font-size: 1.2em; color: $white; border-left: 2px solid $white; display: inline-block;}

@include media($mobile) {
  header { @include span-columns (6 of 6); }
}

@include media($tablet) {
  header { @include span-columns (8 of 8); }
}

@include media($desktop) {
  header { @include span-columns (12 of 12); }
}
