main {
  margin: 80px auto;
  width: 100%;

  @include breakpoint($content-body-width) {
    overflow: hidden;
    width: $content-width;
  }

  article {
    margin-bottom: 100px;
    padding: 0 $content-body-padding;

    .article-title {
      margin-bottom: 1rem;
      margin-top: 7rem;
      text-align: center;
      font-family: $title-font;
    }

    .tag-list {
      list-style-type: none;
    }

    .tag-labels {
      // margin-left: .7rem; // centering
      // margin-top: -2em;
      // text-align: right;
      width: 50%;
    }

    .tag-label {
      // @include border-radius(13px);
      // background: $main-dark;
      // border: 1 solid $main-dark;
      color: $link-color;
      cursor: pointer;
      display: inline-block;
      font-size: 0.9em;
      font-weight: bold;
      line-height: 1.3;
      margin-bottom: .8rem;
      margin-right: .7rem;
      // padding: .4rem 1.2rem .5rem;
      text-align: center;

      &:hover {
        color: darken($link-color, 6);
      }

      // a {
      //   color: $white;
      //   width: 100%;
      // }
    }

    .posted-date-wrapper {
      color: $gentle-gray;
      margin-bottom: 25px;
      margin-top: 10px;
      text-align: center;

      .posted-date {
        padding-left: .4em;
        padding-right: 2em;
      }
    }

    .summary {
      margin-top: 2em;
    }

    .archive-list {
      list-style-type: none;

      .archive-posted-date-wrapper {
        color: $gentle-gray;
        margin-right: .8em;
        .posted-date {
          padding-left: .4em;
        }
      }
    }

    .article-separator {
      margin-bottom: 100px;
    }

    .article-header-separator {
      margin-bottom: 50px;
      margin-top: 50px;
    }

    img {
      display: block;
      margin: 40px auto;
      max-width: 100%;
    }

    .read-more {
      @include clearfix;
      font-size: 1.5rem;
      margin-top: 2rem;
      padding-right: $content-body-padding;

      a {
        float: right;
      }
    }

    .movie-wrapper {
      margin: 40px auto;
      padding: 0 $content-body-padding;
      width: 90%;

      @include breakpoint($content-body-width) {
        width: 640px;
      }

      .movie {
        position: relative;
        width: 100%;

        iframe {
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
        }
      }
    }

    .paginate-wrapper {
      @include pie-clearfix;
      font-size: 1.5rem;
      margin: 4rem;

      .previous-page {
        float: left;
      }

      .next-page {
        float: right;
      }
    }

    .page-number {
      color: $gentle-gray;
      font-size: 1.5rem;
      margin-top: 3rem;
      text-align: center;
    }
  }
}
