// Spreedly overrides
$main-dark: #1C81C6;
$main-light: #1580FB;

$dark-bg-text-color: #ffffff;

$title-font: 'Oswald', sans-serif;
$main-font: Raleway, sans-serif;
//---

$blind-gray: #272727;
$hardcore-gray: #3b3b3b;
$vim-gray: #4a4a4a;
$gentle-gray: #666;
$beam-gray: #969696;
$feather-gray: #b4b3b3;
$whity-gray: #ccc;
$whity-light-gray: #ddd;
$blur-white: #f3f3f3;
$white: #fff;
$code-gray: #f7f7f7;
$crammy-green: #28a1a1;
$border-gray: rgba(228, 229, 233, .96);

$monospace: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
$serif: sans-serif;

// Typography
$em-normalize-ratio: 62.5%;
$h1-font-size: 3.5rem;
$h1-line-height: 1.5;
$h2-font-size: 2.6rem;
$h2-line-height: 1.5;
$h3-font-size: 1.6rem;
$h3-line-height: 1.5;

$content-width: 820px;
$content-body-padding: 15px;
$content-body-width: $content-width - ($content-body-padding * 2);
$default-font-family: $main-font;
$default-text-color: $hardcore-gray;
$default-background-color: $white;
$top-menu-height: 70px;
$top-menu-text-color: $dark-bg-text-color;
$footer-text-color: $dark-bg-text-color;
$link-color: $main-dark;
$default-font-size: 1.6rem;
$default-line-height: 1.8;
$mobile-font-size: 1.4rem;

$large-screen: $content-width;
$mobile-screen: 550px;
