<div class="row-footer">
  <div class="container-footer">
    <footer>
          <div class="col-footer">
            <h4>About Spreedly</h4>
              <ul>
                <li><a href="https://spreedly.com/about">About Spreedly</a></li>
                <li><a href="https://docs.spreedly.com/">Spreedly API</a></li>
                <li><a href="https://spreedly.com/gateways">Supported Gateways</a></li>
              </ul>
          </div>
          <div class="col-footer">
            <h4>Learn More</h4>
              <ul>
                <li><a href="https://spreedly.com/for-platforms">For Marketplaces &amp; Platforms</a></li>
                <li><a href="https://spreedly.com/for-merchants">For Merchants</a></li>
                <li><a href="https://spreedly.com/features">Feature Tour</a></li>
              </ul>
          </div>
          <div class="col-footer">
            <h4>Support &amp; Help</h4>
              <ul>
                <li><a href="https://spreedly.com/support">Frequently Asked Questions</a></li>
                <li><a href="https://spreedly.com/support">Email our Support Team</a></li>
              </ul>
          </div>
          <div class="col-footer">
            <h4>Connect With Us</h4>
              <ul>
                <li><a href="http://blog.spreedly.com/">Spreedly Team Blog</a></li>
                <li><a href="http://twitter.com/spreedly">Follow us on Twitter</a></li>
              </ul>
          </div>
          <div class="col-footer-lg">
            <p>Spreedly makes online payments easy.<br />
            <a href="https://spreedly.com/terms">Terms and conditions</a> | <a href="https://spreedly.com/privacy">Privacy Policy</a><br />
            Copyright &copy; <%= Time.now.year %> Spreedly, Inc.<br />
            All Rights Reserved.</p>
          </div>
        </footer>
    </div>
  </div>
