<div class="row-header">
  <div class="container-header">
    <header>
      <%= link_to (image_tag "logo.svg"), "#{ENV["PUBLIC_FULL_DOMAIN"]}/" %>
      <p class="blog-title-name">Engineering</p>
    </header>
  </div>
</div>
