#{$all-buttons}, .button {
  appearance: none;
  background-color: $white;
  border: 2px solid $blue;
  border-radius: $base-border-radius;
  color: $blue;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: .9em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 10px;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: $dark-blue;
    border: 2px solid $dark-blue;
    color: $white;
    box-shadow: #B7BABD 0 1px 5px 3px;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}
