// Typography
$base-font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$small-text: .8em;
$smaller-text: .6em;

// Line height
$base-line-height: 2;
$heading-line-height: 1.2;

// Margins
$mar-bot-16: 0 0 1em 0;
$mar-bot-32: 0 0 2em 0;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$white: #fff;
$blue: #1C80C6;
$blue-gradient: linear-gradient(to bottom, #1C80C6 0%, #184568 180%);
$dark-gray: #202226;
$med-gray: #808080;
$light-gray: #ECECED;
$brickred: #AA3311;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $dark-gray;
$base-border: 1px solid $base-border-color;
$base-border-radius: 2em;

// Background Colors
$base-background-color: $white;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
